{% extends 'base.html.twig' %}
{% block body %}
{% if app.user %}
  {% include('superuser/adminnavbar.html.twig') %}

  <div class="page-wrapper mdc-toolbar-fixed-adjust">
      <!-- start main page -->
      <main class="content-wrapper">
       <!-- Profile intro -->
         <div class="mdc-layout-grid">
          <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
              <div class="mdc-card">
                <div class="mdc-layout-grid__inner">
                  <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-10">
                    <section class="purchase__card_section">
                      <p>
                       <i class="material-icons mdc-theme--primary mr-1">CL</i>  <span class="bold">Add Class</span>
                      </p>
                    </section>
                  </div>
                </div>
              </div>
            </div>
           </div>
       <!-- end intro -->

       <!-- start form -->
             <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
              <div class="mdc-card">
               <section class="mdc-card__supporting-text">
              {% if finddept |length != 0 %}
               <!-- form start -->
                <form  action="{{ path('course_prove') }}" method="post" class="mt-5">
                  <div class="mdc-layout-grid__inner">
                  <!--current -->
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
                      <div class="template-demo">
                        <div id="demo-tf-box-leading-wrapper">
                          <div id="tf-box-leading-test" class="mdc-text-field mdc-text-field--box mdc-text-field--with-leading-icon w-100">
                            <input type="text" placeholder="Enter Course Name" name="course"  class="mdc-text-field__input">
                            <div class="mdc-text-field__bottom-line"></div>
                          </div>
                            <p class="mdc-text-field-helper-text--validation-msg text-red" id="name-validation-msg" style="font-size:.75rem;">

                          </p>
                        </div>
                      </div>
                    </div>
                    <!--current -->
                    <!-- department field -->
                   <div class="mdc-layout-grid__cell  mdc-layout-grid__cell--span-5-desktop">
                      <div class="mdc-text-field mdc-text-field--box text-secondary w-100" >
                             <select  class="mdc-text-field__input" id="dept" name="dept">
                                  <option  selected>Select Department</option>

                                   {% for dept in finddept %}
                                         <option value="{{ dept.name }}">{{ dept.name }}</option>
                                   {% endfor %}
                             </select>
                        </div>
                   </div>
                    <!-- end dept field-->
                      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop">
                      <div class="template-demo">
                        <div id="demo-tf-box-leading-wrapper">
                        <p class="mdc-text-field-helper-text--validation-msg text-red" id="name-validation-msg" style="font-size:.75rem;">
                              {% for messages in app.flashes('course') %}
                                    {{ messages}}
                               {% endfor %}
                          </p>
                        </div>
                      </div>

                    <!-- submit action -->
                     <div class="mdc-layout-grid__cell  mdc-layout-grid__cell--span-3-desktop">
                          <p class="align-item-center">
                                   <button type="submit" class="mdc-button mdc-button--raised secondary-filled-button text-lowercase mb-0 mt-2" data-mdc-auto-init="MDCRipple">
                                        Add
                                    </button>
                               </p>
                     </div>
                    <!-- end submit action -->

                   </form>
                   {% else %}
                   <div class="mdc-layout-grid__cell  mdc-layout-grid__cell--span-12-desktop">
                          <p class="align-item-center">
                                   No department registered yet!
                               </p>
                     </div>
                   {% endif %}
                   <!-- end form -->
                 </section>
                 </div>
                 </div>

         <!-- end form -->

      </main>
      <!-- end main page -->
  </div>
{% endif %}
{% endblock %}